<h1>投稿一覧</h1>
<% @lists.each do |list| %>
<!--配列がもつ要素を順番に取得して処理を実行したいときは、eachメソッドを使います。
@lists.eachと記述することで、Listレコードの数だけ繰り返し処理を行います。-->
 <p>タイトル</p>
 <span><%= list.title%></span>
 <!--list.titleと記述することで、投稿のタイトルが表示されます。-->
<% end %>
