<div class="list-wrap">
<% @lists.each do |list| %>
<!--配列がもつ要素を順番に取得して処理を実行したいときは、eachメソッドを使います。
@lists.eachと記述することで、Listレコードの数だけ繰り返し処理を行います。-->
 <div class="list-box">
  <%= attachment_image_tag list, :image, :fill, 200, 200, format: 'jpeg' %>
  <div class="list-comment">
   <span class="list-body"><%= list.body %></span>
   <span class="list-title"><%=link_to list.title, todolist_path(list.id) %> </span>
  </div>
 </div>
 
 
<% end %>
</div> 